aiohappyeyeballs==2.6.2
aiohttp==3.11.18
aiohttp-socks==0.10.1
aiosignal==1.4.0
anyio==4.13.0
APScheduler==3.11.2
attrs==26.1.0
beautifulsoup4==4.14.3
brotli==1.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==41.0.7
deep-translator==1.11.4
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
msgpack==1.1.2
multidict==6.7.1
packaging==26.2
propcache==0.5.2
protobuf==7.35.0
pycparser==3.0
pycryptodome==3.23.0
python-socks==2.8.1
python-telegram-bot==22.7
pytz==2026.2
requests==2.33.1
setuptools==82.0.1
soupsieve==2.8.3
stem==1.8.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.6.3
wheel==0.47.0
yarl==1.24.2
